* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.section-title {
    grid-column: 1 / -1;  
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer {
    background: #e5e5e5;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    color: #333;
    font-size: 14px;
}

p {
    text-align: center;
}

h3{
    text-align: center;
    color: #6a1b9a;
    font-size: 18px;
    margin-bottom: 8px;
}

nav {
    background: black;
    padding: 15px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
    font-weight: bold;
}

.menu a:hover {
    color: #ffd700;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffd700;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.courses {
    padding: 50px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 14px;
}

/* Hover effect on card */
.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}

/* iPad */
@media (max-width: 992px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .courses {
        grid-template-columns: 1fr;
    }

    .nav-container {
        flex-direction: column;
        gap: 15px;
    }
}
